doctype html
html(lang="en")
  include head.jade
  body
    include header.jade
    section.container.my-5
      .row
        .col-md-2.mb-5
          .list-group.text-center#list-tab
            a.list-group-item.list-group-item-action.bg-primary.text-white.active(href="#pane-1",data-toggle="list") 我的帳號
            a.list-group-item.list-group-item-action(href="#pane-2",data-toggle="list") 查詢訂單
            a.list-group-item.list-group-item-action(href="#pane-3",data-toggle="list") 更新個人資訊
            a.list-group-item.list-group-item-action(href="#pane-4",data-toggle="list") 更改密碼
            a.list-group-item.list-group-item-action(href="#pane-5",data-toggle="list") 收件地址管理
            a.list-group-item.list-group-item-action(href="#pane-6",data-toggle="list") 專屬折價卷
            a.list-group-item.list-group-item-action(href="#pane-7",data-toggle="list") 紅利點數
            a.list-group-item.list-group-item-action(href="#pane-8",data-toggle="list") 收藏清單
            a.list-group-item.list-group-item-action(href="#pane-9",data-toggle="list") 詢問紀錄
        .col-md-10
          .tab-content#nav-tabContent
            .tab-pane.active#pane-1
              .row
                .col-md-12
                  .bg-bright.border.p-3
                    p.h5 累計消費金額 
                        span.text-danger NT$0
                    strong.h5 可用紅利點數
                        span.text-danger  0 點
                    strong.h5.ml-md-5 專屬折價卷 
                        span.text-danger 0 張
              .row.mt-5
                h5.pl-3 近期訂單
                //- mixin儲存區塊模板，並命名陣列，在括弧中設定陣列變數(使用逗號隔開)
                mixin orderList(date,orderNumber)
                  .col-md-12
                    .p-3.btn-primary-lighter
                        span 訂單日期
                        //- 使用"="符號來指定變數欲存取的位置 
                        span=date
                        span.ml-5 訂單編號 #
                        span=orderNumber
                    table.table.mt-3.table-bordered
                        thead
                            tr
                            th(scope='col') 商品名稱
                            th(scope='col') 總金額
                            th(scope='col') 付款狀態
                            th(scope='col') 配送狀態
                            th(scope='col') 訂單狀態
                        tbody
                            tr
                            th(scope='row') 香草巧克力棋格蛋糕
                                td NT$750
                                td 等待付款
                                td 未出貨
                                td 
                                    button.btn.btn-accent.btn-sm(type='button') 查看詳情
                            tr
                            th(scope='row') 經典原味千層蛋糕
                                td NT$750
                                td 已付款
                                td 未出貨
                                td 
                                    button.btn.btn-accent.btn-sm(type='button') 查看詳情
                            tr
                            th(scope='row') 伯爵千層蛋糕
                                td NT$750
                                td 已付款
                                td 出貨中
                                td 
                                    button.btn.btn-accent.btn-sm(type='button') 查看詳情
                //- 最後在括弧中將設定之變數代進去模板中
                +orderList("2018-11-13",7238)
                +orderList("2018-11-14",7239)
            .tab-pane#pane-2
                mixin orderDetailList(date,orderNumber,totalPrice,paymentStatus,sendStatus,sendMethod)
                  .row
                    .col-md-12
                        .p-3.btn-primary-lighter
                            span.text-secondary 訂單日期
                            span=date
                            span.text-secondary.ml-5 訂單編號 
                            span=orderNumber
                            span.text-secondary.ml-5 總金額
                            span.text-danger=totalPrice
                  .row
                    .col-md-12
                        .pt-4.pl-3
                          h5 訂單內容
                          p
                           span.text-secondary 付款狀態 
                           strong=paymentStatus 
                           span.text-secondary.ml-5 配送狀態 
                           strong=sendStatus 
                           span.text-secondary.ml-5 配送方式 
                           strong=sendMethod 
                               

                  .row 
                    .col-md-12
                          table.table.mt-3.table-bordered
                            thead
                              tr
                                th(scope='col') 商品名稱
                                th(scope='col') 總金額
                                th(scope='col') 付款狀態
                                th(scope='col') 配送狀態
                            tbody
                                tr
                                  th(scope='row') 香草巧克力棋格蛋糕
                                    td NT$750
                                    td 等待付款
                                    td 未出貨
                  .pt-4.pl-3
                    h5 付款資訊
                  .row 
                    .col-md-12
                          table.table.mt-3.table-bordered
                            thead
                              tr
                                th(scope='col') 付款狀態
                                th(scope='col') 付款方式
                            tbody
                                tr
                                  td 等待付款
                                  td 信用卡(VISA、MasterCard、JCB、UnionPay)
                  .pt-4.pl-3
                    h5 配送資訊
                  .row 
                    .col-md-12
                          table.table.mt-3.table-bordered
                            tbody
                                tr
                                  th(scope='col') 配送狀態
                                  td 未出貨
                            tbody
                                tr
                                  th(scope='col') 配送方式
                                  td 超商取貨不付款
                            tbody
                                tr
                                   th(scope='col') 收件人
                                   td Lin Mavis
                            tbody
                                tr
                                  th(scope='col') 收件地址
                                  td 全家樹林自強店(新北市樹林區自強路82號、84號)
                            tbody
                                tr
                                  th(scope='col') 聯絡電話
                                  td 0912345678
                            tbody
                                tr
                                  th(scope='col') 指定配送日期
                                  td=date
                  .row 
                    .col-md-12
                          table.table.mt-3.table-bordered
                            tbody
                                tr
                                  th(scope='col') 訂單備註
                                  td 無任何資訊
                +orderDetailList("2018-11-13","#7238","NT$750","已付款","未出貨","超商取貨不付款-60.0")
            .tab-pane#pane-3
              .row.d-flex.justify-content-center
                .col-md-8
                  h4 基本資料
                  form
                    .form-group 
                        .form-row
                            .form-group.col-md-12
                                label(for='inputName') 姓名
                                input#inputName.form-control(type='text', placeholder='Lin Mavis')
                        .form-row
                            .form-group.col-md-12
                                label(for='inputPhone') 手機號碼
                                input#inputPhone.form-control(type='number', placeholder='0912345678')
                        .form-row
                            .form-group.col-md-12
                                label(for='inputEmail4') Email
                                input#inputEmail4.form-control(type='email', placeholder='Email')
                        .form-row
                            .form-group.col-md-12
                                label(for='inputBirth') 出生日期
                                input#inputBirth.form-control(type='text', placeholder='1991-01-01')
                    .form-group 
                        .form-row
                          .form-group.col-md-12
                            h5 性別
                            .form-group
                                .custom-control.custom-radio.custom-control-inline
                                    input#male.custom-control-input(type='radio', name='gender')
                                    label.custom-control-label(for='male') 男
                                .custom-control.custom-radio.custom-control-inline
                                    input#female.custom-control-input(type='radio', name='gender')
                                    label.custom-control-label(for='female') 女
                          .form-group.col-md-12
                            h5 訂閱電子報
                            small 訂閱商品/活動訊息，我們將不定期透過email通知最新商品活動及優惠訊息。
                            .form-group.py-3
                                .custom-control.custom-radio.custom-control-inline
                                    input#edmSend.custom-control-input(type='radio', name='edm_sending')
                                    label.custom-control-label(for='edmSend') 訂閱
                                .custom-control.custom-radio.custom-control-inline
                                    input#edmDontSend.custom-control-input(type='radio', name='edm_sending')
                                    label.custom-control-label(for='edmDontSend') 取消訂閱
                          .form-group.row.d-flex.justify-content-around
                            .col-6
                              button.btn.btn-secondary.btn-block(type='button') 重新填寫
                            .col-6
                              button.btn.btn-danger.btn-block(type='button') 確定修改

            .tab-pane#pane-4
              .row.d-flex.justify-content-center
                .col-md-8
                    form
                        .form-group.row
                            label.col-form-label(for='inputPasswordOld') 目前的密碼
                            input#inputPasswordOld.form-control(type='password', placeholder='請輸入舊密碼')
                        .form-group.row
                            label.col-form-label(for='inputPasswordNew') 新密碼
                            input#inputPasswordNew.form-control(type='password', placeholder='請輸入新密碼')
                            small.text-danger *請輸入6個字元以上的英文字母及數字，不可使用特殊符號
                        .form-group.row
                            label.col-form-label(for='inputPasswordNewCheck') 新密碼確認
                            input#inputPasswordNewCheck.form-control(type='password', placeholder='請再次輸入新密碼')
                        .form-group.row.d-flex.justify-content-around
                            .col-6
                                button.btn.btn-secondary.btn-block(type='button') 重新填寫
                            .col-6
                                button.btn.btn-danger.btn-block(type='button') 確定修改
            .tab-pane#pane-5
                p 您目前尚無地址，請點擊增加新地址，以建立地址。
                button.btn.btn-primary 
                    i.fas.fa-plus-circle
                    |增加一筆常用地址
            .tab-pane#pane-6
            .tab-pane#pane-7
            .tab-pane#pane-8
              p 您的帳號目前沒有收藏的商品
            .tab-pane#pane-9
    include footer.jade
    include scripts.jade

