//- index.pug
doctype html
html(lang="en")
  include head.jade
  body
    include header.jade
    .container.px-0.px-md-3
      #carousel-1.carousel.slide(data-ride="carousel")
          .carousel-inner
            .carousel-item.active
              img.d-block.w-100(src="https://images.unsplash.com/photo-1464305795204-6f5bbfc7fb81?ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" alt="First slide")
            .carousel-item
              img.d-block.w-100(src="https://images.unsplash.com/photo-1488558980948-81db7f6c239c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1444&q=80" alt="Second slide")              
            .carousel-item
              img.d-block.w-100(src="https://images.unsplash.com/photo-1551893133-08b564951ca2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="First slide")
          a.carousel-control-prev#carousel-1(href="#carousel-1" role="button" data-slide="prev")
            span.carousel-control-prev-icon(aria-hidden="true")
            span.sr-only Previous
          a.carousel-control-next#carousel-1(href="#carousel-1" role="button" data-slide="next")
            span.carousel-control-next-icon(aria-hidden="true")
            span.sr-only Next
      .topic_area
          a.topic(href="product-1.html")
            .blur_bg
            .text
              p 本日精選
          a.topic(href="product-1.html")
            .blur_bg
            .text
              p 人氣推薦
          a.topic(href="product-1.html")
            .blur_bg
            .text
              p 新品上市
    section.section.my-md-7
      .row.justify-content-center.d-md-none.no-gutters
        .col-6
          img.img-fluid(src="img/lg-為什麼選擇了做甜點.png", alt="")
      .bg-primary-lighter
        .container
          .row 
            .col-md-6.break-vertical-block
              .bg-cover.h-100.section-intro-img(style='background-image:url(https://images.unsplash.com/photo-1498603821686-38df172a18bb?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=8ed9d8d3361df6deeea93cac5eeec949&auto=format&fit=crop&w=341&q=80)')
            .col-md-6.vertical-content.d-flex.justify-content-end
              .writing-md-vertical.py-md-7.py-5.text-primary-light.ml-auto
                p.mb-0.
                  唧唧復唧唧，木蘭當戶織。
                  不聞機杼聲，惟聞女嘆息。
                  問女何所思？問女何所憶？
                  女亦無所思，女亦無所憶。
                p.mb-0.
                  昨夜見軍帖，可汗大點兵。
                  軍書十二卷，卷卷有爺名。
                  阿爺無大兒，木蘭無長兄。
                  願為市鞍馬，從此替爺征。
                p.mb-0.
                  東市買駿馬，西市買鞍韉。
                  南市買轡頭，北市買長鞭。
                  朝辭爺孃去，暮宿黃河邊。
              .break-vertical-block.d-none.d-md-block
                img(src="img/lg-為什麼選擇了做甜點.png",style="width:80px", alt="")
    section.section.my-md-9
      .row.justify-content-center.d-md-none.no-gutters
        .col-6
          img.img-fluid(src="img/lg-為什麼一定要吃甜點.png", alt="")
      .bg-primary-lighter
        .container
          .row.flex-row-reverse
            .col-md-6.break-vertical-block
              .bg-cover.h-100.section-intro-img(style='background-image:url(https://images.unsplash.com/photo-1514517220017-8ce97a34a7b6?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=7c376ffa487bcd258df29dc881b10703&auto=format&fit=crop&w=334&q=80)')
            .col-md-6.vertical-content.d-flex.justify-content-end
              .writing-md-vertical.py-md-7.py-5.text-primary-light.ml-auto
                p.mb-0.
                  不聞爺孃喚女聲，但聞黃河流水鳴濺濺。
                  旦辭黃河去，暮至黑山頭。
                  不聞爺孃喚女聲，但聞燕山胡騎聲啾啾。
                p.mb-0.
                  萬里赴戎機，關山度若飛。
                  朔氣傳金柝，寒光照鐵衣。
                  將軍百戰死，壯士十年歸。
                p.mb-0.
                  歸來見天子，天子坐明堂。
                  策勳十二轉，賞賜百千強。
                  可汗問所欲，「木蘭不用尚書郎。
              .break-vertical-block.d-none.d-md-block
                img(src="img/lg-為什麼一定要吃甜點.png",style="width:80px", alt="")
    section.text-center.my-5.my-md-9
      img.img-fluid.d-none.d-md-inline-block(src="img/lg-想吃甜點是不需要理由的.png",style="max-width: 100%;height: 327px;", alt="")
      img.img-fluid.d-md-none(src="img/sm-想吃甜點是不需要理由的-1.png", width="256",alt="")
    section.container.my-5
      .row
        .col-md-4
          .item-card.mb-4
            a(href="product-2.html", title="本日精選")
              .item-img(style="background-image: url(#{productData.posts[0].productImage})")
                .item-tag 本日精選
                .item-starred-icon
                  label.ui-checked-display
                    input.ui-checkbox(type="checkbox")
                    i.material-icons.ui-show favorite
                    i.material-icons.ui-hidden favorite_border
            .item-body.d-flex.flex-column.text-center
              a(href="product-2.html", title="香草巧克力棋格蛋糕")
                .item-name.text-primary #{productData.posts[0].productName}
              strong.item-price.text-primary #{productData.posts[0].productPrice}
            a.item-1.btn.btn-lg.btn-block.btn-primary-lighter(href="#", title="加入購物車",data-sku="AW18116-a",data-name="香草巧克力棋格蛋糕",data-price="450",data-img="https://images.unsplash.com/photo-1462745294598-b3f9a2d7b858?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=d80035da8c51f878806bc66fd454e504&auto=format&fit=crop&w=634&q=80") 加入購物車
        .col-md-4
          .item-card.mb-4
            a(href="product-2.html", title="本日精選")
              .item-img(style="background-image: url(#{productData.posts[1].productImage})")
                .item-tag 本日精選
                .item-starred-icon
                  label.ui-checked-display
                    input.ui-checkbox(type="checkbox")
                    i.material-icons.ui-show favorite
                    i.material-icons.ui-hidden favorite_border
            .item-body.d-flex.flex-column.text-center
              a(href="product-2.html", title="香草巧克力棋格蛋糕")
                .item-name.text-primary #{productData.posts[1].productName}
              strong.item-price.text-primary #{productData.posts[1].productPrice}
            a.item-1.btn.btn-lg.btn-block.btn-primary-lighter(href="#", title="加入購物車",data-sku="AW18116-a",data-name="香草巧克力棋格蛋糕",data-price="450",data-img="https://images.unsplash.com/photo-1462745294598-b3f9a2d7b858?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=d80035da8c51f878806bc66fd454e504&auto=format&fit=crop&w=634&q=80") 加入購物車
        .col-md-4
          .item-card.mb-4
            a(href="product-2.html", title="本日精選")
              .item-img(style="background-image: url(#{productData.posts[2].productImage})")
                .item-tag 本日精選
                .item-starred-icon
                  label.ui-checked-display
                    input.ui-checkbox(type="checkbox")
                    i.material-sicons.ui-show favorite
                    i.material-icons.ui-hidden favorite_border
            .item-body.d-flex.flex-column.text-center
              a(href="product-2.html", title="香草巧克力棋格蛋糕")
                .item-name.text-primary #{productData.posts[2].productName}
              strong.item-price.text-primary #{productData.posts[2].productPrice}
            a.item-1.btn.btn-lg.btn-block.btn-primary-lighter(href="#", title="加入購物車",data-sku="AW18116-a",data-name="香草巧克力棋格蛋糕",data-price="450",data-img="https://images.unsplash.com/photo-1462745294598-b3f9a2d7b858?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=d80035da8c51f878806bc66fd454e504&auto=format&fit=crop&w=634&q=80") 加入購物車
    include footer.jade
    include scripts.jade